/* OVERRIDES FOR PRISM MARKDOWN CSS */

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f6f8fa;
  border-radius: 3px;
  font-size: 12px;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted, .token.function, .token.class-name {
  color: #020c18;
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #d73a49;
}
